
body {
    background-color: orange;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.banner {
    background-color: navy;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 65px;
    color: gold;
    text-align: left;
}

.banner img {
    max-width: 25%;
    height: auto;
}


.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box; 
}

.left-image,
.right-image {
    flex: 1; 
    text-align: center;
}

.left-image img,
.right-image img {
    width: 100%; 
    height: auto;
}

.text-center {
    flex: 1; 
    text-align: center;
}

h2 {
    font-size: 35px;
    color: purple;
}

p {
    font-size: 25px;
    color: navy;
    
}

footer {
    background-color: navy;
    color: gold;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.footer-text {
    background-color: navy;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
}

.footer-text a {
    color: gold;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}


