body {
    margin: 0;
    padding: 0;
}

#banner {
    background-color: #000080;
    width: 20%; /* Use a percentage value */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 5vw; /* Responsive font size */
    text-decoration: underline;
    color: purple;
}

h2 {
    text-align: center;
    font-size: 2vw; /* Responsive font size */
    color: navy;
    font-style: italic;
}

.menu-item {
    color: gold;
    padding: 5px;
    font-size: 2.5vw; /* Responsive font size */
    margin: 10px 0;
    text-align: center;
}

.image-container img {
    max-width: 50%; /* Use a percentage value */
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
}

.menu-item a:hover {
    text-decoration: underline;
}

#landing-image {
    max-width: 75%; /* Ensure the image scales with the viewport */
    height: auto;
    display: block;
    margin: 10px auto; /* Center the image horizontally with some margin */
}
